old
Paper/LdapCon2009_Seelmann_DataNucleus.aux
Paper/LdapCon2009_Seelmann_DataNucleus.dvi
Paper/LdapCon2009_Seelmann_DataNucleus.log
Paper/LdapCon2009_Seelmann_DataNucleus.out
Paper/LdapCon2009_Seelmann_DataNucleus.rtf
Paper/LdapCon2009_Seelmann_DataNucleus.tex~
DataNucleus-Advanced/.classpath
DataNucleus-Advanced/.project
DataNucleus-Advanced/.settings
DataNucleus-Advanced/target
DataNucleus-Advanced/datanucleus.log
DataNucleus-Advanced/server-work
DataNucleus-Advanced-Wicket/.classpath
DataNucleus-Advanced-Wicket/.project
DataNucleus-Advanced-Wicket/.settings
DataNucleus-Advanced-Wicket/target
DataNucleus-Advanced-Wicket/datanucleus.log
DataNucleus-Advanced-Wicket/server-work
DataNucleus-Basic/.classpath
DataNucleus-Basic/.project
DataNucleus-Basic/.settings
DataNucleus-Basic/target
DataNucleus-Basic/datanucleus.log
DataNucleus-Basic/server-work

